# Core
pandas
numpy
matplotlib
seaborn
datetime

# Machine Learning & Statistical Models
scikit-learn
xgboost
lifetimes
prophet

# Web App
streamlit

# Visualization (EDA + UI)
plotly
altair
yellowbrick

# Utility & Serialization
dill